body {
  background-image: url('https://static.vecteezy.com/system/resources/previews/007/933/882/non_2x/abstract-metallic-red-black-cyber-dark-grey-hexagon-mesh-design-modern-futuristic-background-vector.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
}

h1, h2, h5 {
  color: #ff4c4c;
}

p {
  color: #f1f1f1;
}

label {
  color: white;
}

form {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
}
